# Path to your Oh My Zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load
ZSH_THEME="agnoster"

# Which plugins would you like to load?
plugins=(git zsh-autosuggestions zsh-syntax-highlighting you-should-use)

source $ZSH/oh-my-zsh.sh

# User configuration
{{ if .isDarwin }}
# macOS specific configurations
export PATH="/usr/local/bin:$PATH"
# Add homebrew completions to path if they exist
if [ -d "/usr/local/share/zsh/site-functions" ]; then
    FPATH=/usr/local/share/zsh/site-functions:$FPATH
fi
{{ else }}
# Linux specific configurations
export PATH="$HOME/.local/bin:$PATH"
{{ end }}

# Preferred editor configuration
{{ if env "SSH_CONNECTION" }}
export EDITOR='vim'
{{ else }}
export EDITOR='nvim'
{{ end }}

# Deno configuration
{{ if .isDarwin }}
[ -f "$HOME/.deno/env" ] && . "$HOME/.deno/env"
{{ else }}
[ -f "/home/{{ .userName }}/.deno/env" ] && . "/home/{{ .userName }}/.deno/env"
{{ end }}

# Initialize zsh completions
autoload -Uz compinit
compinit

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
